<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>title</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="/images/favicon.svg"
      type="image/svg"
    />
    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/lineicons.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/scss/footers/footer-01.css" />
    <!--add style if exists-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/scss/alerts/alerts.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!--add style if exists-->
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
    <style>
        body{margin-top:20px;
background:#eee;
}

/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
a{
    text-decoration:none !important;    
}
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

.card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {
    padding: 5px !important;
    padding-bottom: 6px !important
}

.badge i {
    font-size: 10px
}

.profile-image {
    width: 35px
}

.comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .cart {
    border-color: #ff7676;
    color: #ff7676
}

.buttons .cart:hover {
    background-color: #e86464 !important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
}

.buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

.buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #ff7676
}

.comment-ratings i {
    color: #f6d151
}

.followers {
    font-size: 9px;
    color: #d6d4d4
}

.store-image {
    width: 42px
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
}

label.radio .red {
    background-color: red;
    border-color: red
}

label.radio .blue {
    background-color: blue;
    border-color: blue
}

label.radio .green {
    background-color: green;
    border-color: green
}

label.radio .orange {
    background-color: orange;
    border-color: orange
}

label.radio input:checked+span {
    color: #fff;
    position: relative
}

label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}

.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}

body{margin-top:20px;
background:#eee;
}

/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
a{
    text-decoration:none !important;    
}

    </style>
  </head>

  <body>
    <div class="container-fluid mt-2 mb-3">
        <div class="row no-gutters">
            <div class="col-md-5 pr-2">
                <div class="card">
                    <div class="demo">
                        <ul id="lightSlider">
                            <li data-thumb="<%= post.image %>">
                                <img class = "" src="<%= post.image %>"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mt-2">
                    <h6>Reviews</h6>
                    <div class="bg-light p-2">
                        <form action="/api/posts/<%=post._id%>/comments" method="post">
                            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="<%= user.avatar%>" style="max-width: 50px !important; max-height: 50px !important;">
                                <textarea  class="form-control ml-1 shadow-none textarea" name= "text"></textarea>
                            </div>
                            <div class="mt-2 text-right">
                                <button type="submit" class="btn btn-primary btn-sm shadow-none">comment</button>
                            </div>
                        </form>
                    </div>
                    <div class="comment-section">
                        <% for(var i=0; i<post.comments.length; i++){ %>                             
                            <div class="container-fluid">
                                <div class=" row"> 
                                    <img src="<%=post.comments[i].creator.avatar%>" class="rounded-circle profile-image col-md-2 p-0">
                                    <div class="col-md-10">
                                        <div class="username mt-2"><strong><%=post.comments[i].creator.fullName%></strong></div>
                                        <div class=" d-flex ">
                                            <p id="commentText<%=i%>" class="text-muted mb-0 col-md-5"><%=post.comments[i].text%></p>
                                            <%if(user._id == post.comments[i].creator._id.toString()){%>
                                            <div class="editedForm<%=i%> col-md-7 pr-0">
                                                <div class="d-flex justify-content-end w-100">
                                                    <form class = "d-flex " action="/api/posts/<%=post._id%>/comments/<%=post.comments[i]._id%>?_method=PUT" method="post">
                                                            <input class="mr-5 form-control ml-1 shadow-none textarea" type= "text" id= "commentTextUpdate<%=i%>" name= "text" value="<%=post.comments[i].text%>" hidden="true">
                                                            <button class="btn ml-5 mx-1  btn-info btn-sm shadow-none" id = "apply<%=i%>" type="submit"  style="display: none;">apply</button>
                                                            <button class = "btn mx-1 btn-info btn-sm shadow-none" id = "edit<%=i%>" type="button"  onclick="editForm(<%=i%>)">edit</button>
                                                    </form>
                                                    <form class="d-flex " action="/api/posts/<%=post._id%>/comments/<%=post.comments[i]._id%>?_method=DELETE" method="post">
                                                        <button type="submit" class="btn btn-danger btn-sm shadow-none">delete</button>
                                                    </form>
                                            </div>
                                            </div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="container d-md-flex">
                        <div class="about col-md-7 "> <h1 class="font-weight-bold"><%=post.title%></h1>
                            <h4 class="font-weight-bold text-success">$ <%=post.price%></h4>
                            <%post.type.forEach((type)=>{%>
                                <label class="label primary-label rounded-full">
                                    <%=type%>
                                </label>         
                            <%})%>
                            
                        </div>
                        <div class="row d-md-flex text-center col-md-5">
                                <div class="contact-box">
                                    <a class = "mb-2" ref="#profile.html">
                                        <div class="d-md-flex justify-content-center mb-2 ">
                                            <img class= "rounded-circle" src="<%=post.owner.avatar%>" style="max-width: 100px !important; max-height: 100px !important;">
                                        </div>
                                        <h5 class="d-md-flex justify-content-center"><strong><%=post.owner.fullName%></strong></h5>                                    
                                    </a>
                                    <div class="contact-box-footer">
                                        <div class="m-t-xs btn-group d-md-block">
                                            <a class="btn btn-xs btn-white d-md-block d-sm-flex flex-warp"><i class="fa fa-phone"></i> <%= post.owner.phone%> </a>
                                            <a class="btn btn-xs btn-white d-md-block d-sm-flex flex-warp"><i class="fa fa-envelope"></i> <%=post.owner.email%></a>
                                        </div>
                                    </div>
                            
                                </div>
                        </div>
                    </div>
                    <hr>
                    <div class="product-description">
                        <div class="mt-2"> <h3 class="font-weight-bold mb-2">Description</h3>   
                            <hr>
                            <%Object.keys(post.description).forEach((key)=>{%>
                                <span><strong><%=key%> :</strong> </span>
                                <span><%= post.description[key]%></span>
                                <br>
                            <%})%>
                            <div class="bullets">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <script>
        document.onload = function(){
            $("#apply").hide();
            $("#commentTextUpdate").hide();
        }
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 9
        });
        function editForm(i){
            $(`#apply${i}`).show();
            $(`#commentTextUpdate${i}`).attr('hidden', false);
            $(`#commentText${i}`).hide();
            $(`#edit${i}`).hide();
            
            $(`.editedForm${i}`).removeClass('col-md-7');
            $(`.editedForm${i}`).addClass('col-md-12');
        }
    </script>
  </body>
</html>
